body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
label{
    display: inline-block;
    width: 100px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 120%;
    font-weight: bold;
}



.title{
    font-size: 5vh;
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    margin-bottom: 40px;
}

.form-row {
  margin-bottom: 10px;
}

#btn {
  margin-left:25%;
  padding: 30px;
  margin-bottom: 40px;
  border-radius: 20%;
  background-color: #00862d;
  color: white;
  font-size: 30px;
  cursor: pointer;
  
}

.delete-button{
    padding: 20px;
    margin-right: 30px;
    border-radius: 10px;
    font-size: 30px;
}

.edit-button{
    padding: 20px;
    border-radius: 10px;
    font-size: 30px;
}

table{
    border: 2px solid black;

}

table{
    height: 100%;
    width: 100%;
    
}
td{
    background-color: #3498db;  
    color: #fff;          
    font-size: 24px;
    padding: 10px;     
    border-radius: 5px; 
}
th{
    font-weight: bold;        
    background-color: #090909; 
    color: #fff;               
    font-size: 24px;
    padding: 10px;          
    border-radius: 5px;   
    border: black 2px solid;
}

