body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


table{
    border: 2px solid black;

}

table{
    height: 100%;
    width: 100%;
    
}
td{
    background-color: #3498db;  
    color: #fff;          
    font-size: 24px;
    padding: 10px;     
    border-radius: 5px; 
}
th{
    font-weight: bold;        
    background-color: #090909; 
    color: #fff;               
    font-size: 24px;
    padding: 10px;          
    border-radius: 5px;   
    border: black 2px solid;
}

